<header class="expanded row">
	<div class="large-3 medium-3 small-12 columns">
		<a href="{{ site.url }}"><img src="{{ site.images_url }}/logos/marius.png" alt="MaRIUS project home"></a>
	</div>

    <div class="large-9 medium-9 small-12 columns">
	    <!-- {{ page.dashboard }} -->
	    <!-- MaRIUS - {% if layout.dashboard_title %}{{ layout.dashboard_title }}{% else %}{{ layout.section | capitalize }}{% endif %} -->

	    <div class="right">
	    	<ul class="vertical medium-horizontal menu" data-responsive-menu="medium-dropdown">

	    	<!--<ul class="dropdown menu" data-dropdown-menu>-->
		    	{% for section in site.data.navigation_default %}
		    	<li>
		    		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>

		    		{% if section.subpages %}
		    		<ul class="menu">
		    			{% for p in section.subpages %}
		    			<li {% if page.url == p.url %}class="active"{% endif %}>
		    				<a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
		    			</li>
		    			{% endfor %}
		    		</ul>
		    		{% endif %}

		    	</li>
		    	{% endfor %}
		    </ul>
	    	
	    </div>

    </div>
</header>