{% assign img= include.image %}
{% assign is_responsive = include.responsive %} <!-- default: true -->
{% assign img_width = include.width %}
{% assign img_height = include.height %}

{% assign img_caption = include.caption %}
{% assign img_attribution_owner = include.attribution_owner %}
{% assign img_attribution_source = include.attribution_source %}
{% assign img_attribution_source_url = include.attribution_source_url %}
{% assign img_attribution_license = include.attribution_license %}
{% assign img_attribution_license_url = include.attribution_license_url %}

{% assign wrap = include.wrap %}

<figure {% if wrap %}class="{{ wrap }}"{% endif %}>
  <div>
  	<img src="{{ site.images_url }}/{{ img }}" 
    {% if img_width %}width="{{ img_width }}"{% endif %}
    {% if img_height %}height="{{ img_height }}"{% endif %}
    alt="{{ img_caption }}" class="center-block 
    {% if is_responsive != "false" %}img-responsive{% endif %}
    ">
  </div>
  
  <figcaption>{{ img_caption }}
  {% if img_attribution_owner %} <span class="glyphicon glyphicon-info-sign"></span>  
  <span class="fig_attribution">
	  {{ img_attribution_owner }} 
	  {% if img_attribution_source %}via {{ img_attribution_source }}{% endif %} 
	  {% if img_attribution_source %}{{ img_attribution_license | upper }}{% endif %} 
  </span>
  {% endif %}
  </figcaption>

</figure> 