{% assign p_id = include.person[0] %}
{% assign p = include.person[1] %}

{% if p.external %}

{% else %}

<div class="row">

	<div class="col-xs-12">

		<div class="profile-card">
			<div class="row">

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<a name="{{ p_id }}"></a>
					<img src="{{ site.images_url }}/people/{% if p.default_photo %}default{% else %}{{ p_id }}{% endif %}.png" alt="{{ p.title }} {{ p.name }}" class="img-responsive circle" />
				</div>

				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<h2><a rel="person" href="{{ p.url }}" title="{{ p.name }}">{{ p.title }} {{ p.name }}</a></h2>
					<div class="position">{{ p.position }}</div>
					<div class="organisation">{{ p.organisation }}</div>
					<div class="profile">{{ p.profile }}</div>
				</div>

			</div>

		</div>

	</div>

</div>

{% endif %}