---
---

// usage: @extend %clearfix;
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// usage: @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide
$system-ui-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-stack: "Work Sans", $system-ui-font-stack;
$header-font-stack: "Roboto", $system-ui-font-stack;

body {
  font-family: $font-stack;
  font-size: 14px;
  font-weight:400;
  //background-color: #f5f5f5;
}


hr {
  border: 0;
  background-color: #c9c9c9;
  height: 1px;
}


abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}


// figure
figure {
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid #eee;

  .attribution {
    font-style: italic;
  }

  .caption {
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: smaller;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


/*figure.left {*/
/*float: left;*/
/*width: 50%;*/
/*margin: 0 20px 20px 0;*/
/*}*/
/*figure.right {*/
/*float: right;*/
/*width: 50%;*/
/*margin: 0 0 20px 20px;*/
/*}*/


// header
header {
  height: 140px;
  /*margin: 10px 0;*/
  /*margin-bottom: 20px;*/
  border-top: solid 15px #1c7ba3;
  border-bottom: solid 1px #ccc;
  background-color: #fff;
}


// main
main {
  //margin: 0 1em;

  .section-ident {
    height: 15px;
    border-bottom: solid 1px #ccc;
    background-color: #0583F2;
    color: #fff;
  }

  .header {
    margin: 15px 0 20px 0;
    border-bottom: 3px solid #eee;

    .section-title {
      margin: 0;
      font-size: 20px;
      color: #c9c9c9;
    }

    h1 {
      margin-top: 0;
      font-weight: 700;
      color: #000;
    }

    @extend %clearfix;
  }

  .content {
    //background-color: red;

    p { margin: 0 0 25px 0; }
    li { margin: 0 0 3px 0; }

    h2, h3, h4, h5, h6 {
      margin: 30px 0 20px 0;
      font-weight: 600;
      padding-bottom: 2px;
      //border-bottom: 1px solid #eee;
    }

    a {
      padding-bottom: 1px;
      border-bottom: 2px solid #e5e8eb;
      //color: #363a46;
      color: #3769cc;

      -webkit-transition: all,0.2s,ease-in;
      -moz-transition: all,0.2s,ease-in;
      -o-transition: all,0.2s,ease-in;
      transition: all,0.2s,ease-in;

      &:hover {
        text-decoration: none;
        border-bottom: 2px solid #3769cc;

        -webkit-transition: all,0.2s,ease-in;
        -moz-transition: all,0.2s,ease-in;
        -o-transition: all,0.2s,ease-in;
        transition: all,0.2s,ease-in;
      }
      //&[target="_blank"] {
      //  border-bottom: 2px dashed #e5e8eb;
      //
      //  &:hover {
      //    text-decoration: none;
      //    border-bottom: 2px solid #3769cc;
      //    //background-color: #f9fbff;
      //  }
      //}
    }
  } // content

} // main


// footer
footer {
  margin-top: 20px;
  padding: 20px 0 20px 0;
  border-top: solid 1px #ccc;
  background-color: #f2f2f2;
  /*text-align: center;*/

  .render-time {
    font-size: 10px;
    color: #C0C0C0;
  }
}
//footer > div {
//  font-size: smaller;
//  color: #4d4d4d;
//}


// nav
#nav {
  margin-top: 20px;
  /*font-size: 14px;*/
}
.nav {
  margin-top: 20px;
}

.site-nav {
  list-style-type: none;
  padding-left: 0;

  li {
    list-style-type: none;

    .active {
      font-weight: bold;
    }
  }
  ul > li {
    font-size: 0.933em;
  }
}

// profile-card
.profile-card {
  border-top: 1px solid #d2d2d2;
  margin-bottom: 25px;
  //padding: 10px;
  //box-shadow: 1px 1px 1px #d8d8d8;

  img {
    padding-top: 10px;
    min-width: 125px;
    height: 125px;
  }

  .name {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;
    //border-bottom: none;

    a {
      border: none;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      //border-bottom: 2px solid;
      //background-color: #f9fbff;
    }
  }

  .position {
    font-weight: 600;
    text-transform: uppercase;
    color: #8c8c8c;
  }

  .organisation {
    //font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #8c8c8c;
    border-bottom: 1px solid #d2d2d2;
  }

  .profile {
    margin-top: 10px;
  }

  @extend %clearfix;
}


// profile-card-summary
.profile-card-summary {
  min-height: 110px;
  //min-width: 235px;
  margin-bottom: 10px;
  border-top: 1px solid #c9c9c9;

  img {
    padding-top: 10px;
    width: 75px;
    height: auto;

    .left {
      height: 75px;
      float: left;
    }
    .right {
      float: left;
      padding: 10px 0 0 10px;
    }
  }

  @extend %clearfix;
}


// working-paper-card
.working-paper-card {
  margin-bottom: 25px;
  border-top: 1px solid #c9c9c9;

  img {
    padding-top: 10px;
    min-width: 125px;
    height: 125px;
  }
  h4 {
    margin-top: 0;
    padding-top: 10px;
    border-bottom: none;
  }

  @extend %clearfix;
}


// presentation-card
.presentation-card {
  margin-bottom: 20px;
  border-top: 1px solid #c9c9c9;

  img {
    padding-top: 10px;
    min-width: 125px;
    height: 125px;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;
    border-bottom: none;

    a {
      border: none;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      //border-bottom: 2px solid;
      //background-color: #f9fbff;
    }
  }
  .author {
    font-style: italic;
  }
  .description {
    margin: 15px 0 0 0;
  }

  @extend %clearfix;
}



// symposium-card
.symposium-card {
  margin-bottom: 20px;
  border-top: 3px solid #c9c9c9;

  h2,
  h3,
  h4 {
    margin-top: 0;
    padding-top: 10px;
    border-bottom: none;
  }
  img {
    padding-top: 10px;
  }
  ul li {
    padding: 3px 0;
  }

  @extend %clearfix;
}


// coming-soon
#coming-soon {
  /*padding: 10px;*/
  background-color: #EFC94C;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
}
#coming-soon .ident {
  padding: 10px;
  background-image: repeating-linear-gradient(-45deg, #EFC94C 0px, #EFC94C 20px, #c9c9c9 20px, #c9c9c9 40px);
  border-bottom: 1px solid #c9c9c9;
  font-weight: bold;
}
#coming-soon .cs {
  padding: 3px;
  background-color: #000;
  color: #fff;
}
#coming-soon .description {
  padding: 10px;
}


// interactive
#interactive {
  display: inline-block;
  background-color: red;
}


// videos
#videos {
  margin-top: 30px;
  border-top: 3px solid #eee;
}


// research-team
#research-team {
  margin-top: 30px;
  border-top: 3px solid #eee;

  h3 {
    font-family: 'Cabin', "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    border-bottom: none;
  }
}

//#research-team h3 {
//  font-family: 'Cabin', "Helvetica Neue", "Helvetica", Arial, sans-serif;
//  font-weight: 300;
//  border-bottom: none;
//}


// related-links
#related-links {
  margin-top: 30px;
  border-top: 3px solid #eee
}


// elsewhere-links
#elsewhere-links {
  margin-top: 30px;
  border-top: 3px solid #eee;
}


// back-to-top
.back-to-top {
  margin: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #fff;
  background: #3c3f41 none;

  &:hover {
    border: 1px solid #3c3f41;
    background-color: rgb(255, 255, 255);
    color: #3c3f41;
  }

  span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    //border: 1px solid #f00;
    font-size: 2em;
  }
}


.projects-horizontal .projects {
  padding-bottom: 40px;
}

.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
}


.logos {
  margin: 0 0 20px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.logo {
  padding-bottom: 20px;
}

#img-link {
  text-decoration: none;
  border: 0 !important;
}

.valign {
  font-size: 0;
}

.valign > [class*="col"] {
  display: inline-block;
  float: none;
  font-size: 14px;
  /*font-size: 1rem;*/
  vertical-align: middle;
}
